<form name="form1" method="post" action="send_message/">
    Введите текст:<br />
    <br /><label>chat_id </label><textarea name="chat" cols="10" rows="1">{{chat}}</textarea>
    <br /><label>user_id </label><textarea name="user" cols="10" rows="1">{{user1}}</textarea>
    <!-- <br /><label>user_id </label><textarea name="user" cols="10" rows="1">{{user1}}</textarea> -->
    <!-- <br /><label>user_id </label><select name="user" cols="10" rows="1">
        <option>{{user1}}</option>
        <option>{{user2}}</option>
    </select> -->
    <br /><label>text </label><textarea name="content" cols="100" rows="1"></textarea>

    <br /><input name="" type="submit" value="Отправить"/>
</form>